<div>
  <h1 class='flex justify-center py-4 text-xl mt-8 font-bold'><%= @post.title %></h1>
</div>

<hr/>

<div class="max-w-2xl mt-8 mx-auto bg-gray-700 p-6 rounded-lg shadow-md"> 
  <div class="text-gray-400 text-sm mb-4">
    <p>Posted by <%= link_to @post.user.username, @post.user, class: "text-blue-400 hover:text-blue-600" %> in <%= link_to @post.subreddit.name, @post.subreddit, class: "text-blue-400 hover:text-blue-600" %></p>
    <p><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
  </div>

  <div class="text-gray-200 mb-4">
    <p><%= @post.body %></p>
  </div>

  <div class="flex justify-between items-center mt-6">
    <%= link_to 'Edit', edit_post_path(@post), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'Back', posts_path, class: "bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
